<footer class="sheet-footer flexrow">
    <div class="replacer-controls">
        <label>
            <input type="checkbox" name="hideTokens" {{checked hideTokens}}> {{localize
            "PhilsArtReplacer.IgnoreTokenArt"}}
        </label>
        <button type="button" data-action="replaceAll">
            <i class="fas fa-check"></i> {{localize "PhilsArtReplacer.ReplaceAll"}}
        </button>
    </div>
</footer>